
.pageicon{
  height:150px;
  width: 150px;
  margin-top:-60px;
margin-left: 35%;
}

.pageicondetail{
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  vertical-align: middle;

  font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-weight: normal;
font-stretch: normal;
font-size: 40px;
line-height: 48px;
font-family: "Noto Serif";

}
hr{
border-width: 2px;
border-color:#655a59;

}
h4{
  color: #625656;
}
.pageicondesc{
  font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-weight: normal;
font-stretch: normal;
font-size: 18px;
line-height: 36px;
font-family: "Noto Serif";
  /*font-size: 20px;
  line-height: 35px;*/
}

.btn{
  border-color: black;
}


.pagetiletitle{
  margin-right: 10%;
  margin-left: 10%;
  /*text-align: center;*/
  vertical-align: middle;

  font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-weight: normal;
font-stretch: normal;
font-size: 56px;
line-height: 48px;
font-family: "Noto Serif";
}
.pagetiledesc{
  font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-weight: normal;
font-stretch: normal;
font-size: 20px;
line-height: 36px;
font-family: "Noto Serif";
}

.contactme{

  margin-left: 20%;
  margin-right: 2%;
  /*text-align: center;*/
  vertical-align: middle;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 1em;
  font-size-adjust: none;
  font-stretch: normal;
  -x-system-font: none;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;

}

.parallax-text{

    margin-left: 20%;
    margin-right: 2%;
    /*text-align: center;*/
    vertical-align: middle;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 1em;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;

}

.register{
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
  vertical-align: middle;
}


body{
background: url(https://pcbx.us/bfgg.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

h1{
font-family: Open Sans Condensed;
text-transform: uppercase;
font-size: 5em;
font-weight: 100;
text-align: center;
  color: #fff;
}

#prelaoder{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(10,10,10,1);z-index:1000}

.spinner{
  text-align:center;
  font-size:10px
}
.spinner,.spinner-inner{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:9px solid #fff;
  border-color:transparent #fff;
  margin:auto
}

.spinner{
  width:85px;
  height:85px;
  -webkit-animation:spin 2.2s linear 0s infinite normal;
  -moz-animation:spin 2.2s linear 0s infinite normal;
  animation:spin 2.2s linear 0s infinite normal
}

.spinner-inner{
  width:40px;
  height:40px;
  -webkit-animation:spinback 1.2s linear 0s infinite normal;
  -moz-animation:spinback 1.2s linear 0s infinite normal;
  animation:spinback 1.2s linear 0s infinite normal
  }
  @-webkit-keyframes spin{
    from{
      -webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}
      }@-moz-keyframes spin{from{-moz-transform:rotate(0)}to{-moz-transform:rotate(360deg)}}@keyframes spin{from{transform:rotate(0)}
      to{
        transform:rotate(360deg)
        }
        }
    @-webkit-keyframes spinback{
      from{
        -webkit-transform:rotate(0)
        }
        to{
          -webkit-transform:rotate(-360deg)
          }
          }
      @-moz-keyframes spinback{
        from{
          -moz-transform:rotate(0)
          }
          to
          {
            -moz-transform:rotate(-360deg)
            }
            }
      @keyframes spinback{
        from{
          transform:rotate(0)
          }
          to
          {
            transform:rotate(-360deg)
            }
          }
